<%= render partial: 'users/navbar' %>
<header>
  <h5 class="card-title text-center search-title">
    検索結果
  </h5>
</header>
<% @users.each do |user| %>
  <%= render partial: 'users/user2', locals: {user: user} %>
<% end %>

