<%= render partial: 'users/navbar' %>
<div class="form_form">
<h1>Chat room</h1>


<div id="messages", data-room_id="<%= @room.id %>">
  <!-- Messageの一覧を表示 -->
  <%= render @messages %>
</div>
<form>
  <label>メッセージを入力:<%= @user.name %>さんへ</label><br>
  <input type="text" data-behavior="room_speaker">
</form>


