.single {
  width: 700px;
  margin: 50px auto 0;
}

.single_form {
  padding: 64px;
}

.single_form_main {
  width: 320px;
  margin: 0 auto;
}

.single_form_main input {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
}

@media (max-width: 896px) {
  .single {
    width: 300px;
  }
  .single_form {
    padding: 30px;
  }
  .single_form_main {
    width: 150px;
  }
  select {
    border: 1px solid #ced4da;
  }
}
