.carousel-item {
  position: relative;
}

.slick-contents {
  padding: 0 35px;
  margin-top: 40px;
}

/*.slick-contents a {
  display: inline-block;
}*/

.slick-contents__title {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.male {
  color: blue;
  margin-left: 5px;
}

.female {
  color: red;
  margin-left: 5px;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 35px;
}

.card-deck {
  padding: 0 100px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.card {
  margin: 40px;
}

.card-title {
  font-weight: bold;
}

.dropdown-menu {
  width: 300px;
}

.form-inline {
  padding-left: 10px;
}

.list_item {
  color: #212529;
}

.maru {
  border: solid #bbb;
  border-radius: 100px;
  margin: 10px auto;
  height: 200px;
  width: 200px;
}

.contents {
  margin: 40px 0 40px 200px;
}

.contents p {
  font-weight: bold;
}

.form_form {
  margin: 40px 100px;
}

.search__query {
  margin-right: 5px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.search-title {
  margin-top: 30px;
}

.dm {
  display: inline-block;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  height: 36px;
  margin-top: -18px;
  color: black;
  line-height: 36px;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
  color: #ced4da;
}
.slider-prev {
  left: 0;
}
.slider-next {
  right: 0;
}

@media (max-width: 767.98px) {
  .title {
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
 }
 .card-deck {
    padding: 0;
 }
 .dropdown-menu {
    width: 200px;
 }
 .maru {
    border-radius: 60px;
    margin: 5px auto;
    height: 120px;
    width: 120px;
 }
}
